@model List<GitHubProjects>
@{
    ViewData["Title"] = "GitHub";
}

<h1>GitHub Projects</h1>

<p>This tab contains some links to GitHub projects that I have done over the years. As well as a brief description of each project.</p>

<p>
    You can view all the public repositories in my GitHub by <a href="https://github.com/ckern-py?tab=repositories">clicking here</a>, or feel free to click the individual links for each project to go directly to them.
</p>
<body>
    @foreach (GitHubProjects project in Model)
    {
        <div class="container pt-2">
            <div class="row ">
                <div class="col-sm-4" style="border: 1px solid;">
                    <div style="min-height: 200px; word-wrap: normal " id="1">
                        <a href="@project.RepoLink">
                            <img src="@project.ImageSource" alt="@project.ImageAlt" width="200" height="200" class="d-block mx-auto">
                        </a>
                    </div>
                </div>
                <div class="col-sm-8" style=" border: 1px solid;">
                    <div style="min-height: 200px; word-wrap: normal " id="1">
                        <b>@project.SectionTitle</b>.<br />@project.SectionDescription
                        <br /><b>Link to the repo:</b><br /><a href="@project.RepoLink">@project.RepoLink</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div style="width: 35%; float: left; min-height: 100px " id="1"></div>
    <div style="width: 35%; float: left; min-height: 100px " id="1"></div>
</body>